@media (min-width: 50rem) {
    .main {
      position: relative;
      max-width: 70rem;
    }
  }

.header {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    margin: 1rem 1rem 1rem 1rem;
}